*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("./fonts/ClashGrotesk-Extralight.woff2") format("woff2"),
    url("./fonts/ClashGrotesk-Extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("./fonts/ClashGrotesk-Medium.woff2") format("woff2"),
    url("./fonts/ClashGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("./fonts/ClashGrotesk-Semibold.woff2") format("woff2"),
    url("./fonts/ClashGrotesk-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("./fonts/ClashGrotesk-Light.woff2") format("woff2"),
    url("./fonts/ClashGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("./fonts/ClashGrotesk-Bold.woff2") format("woff2"),
    url("./fonts/ClashGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("./fonts/ClashGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/ClashGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  --darkBlue: #09264a;
  --strongOrange: #f79924;
  --lightBackCol: #54677f;
  --bodyCol: #223c5c;
  --paragraphCol: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #223c5c;
}

::-webkit-scrollbar-thumb {
  background: #f79924;
  border-radius: 20px;
}


.active {
  z-index: 99;
  border-left: 4px solid var(--strongOrange);
  background-color: var(--lightBackCol);
  transition: 300ms;
}

body,
html {
  font-family: "Clash Grotesk";
  overflow-x: hidden;
  background-color: var(--bodyCol);
  color: #fff;
}

h1 {
    font-weight: 500;
    letter-spacing: .3px;
}

h4 {
    letter-spacing: 1px;
    font-weight: normal;
}

p {
  font-size: 16px;
  letter-spacing: 1.2px;
}
@media (max-width: 620px) {
  p {
    font-size: 14px;
  }
}


.img {
  width: 100%;
  height: 100%;
  background-position: center;
  background: center no-repeat;
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  opacity: 0;
  -webkit-transition: 0.45s ease;
  transition: 0.3s ease;
  padding: 0 2.3rem;
}

.figure:hover figcaption {
  opacity: 1;
  color: black;
}

.figure:hover img {
  transition: all 0.45s ease;
  opacity: 0;
}

.hand {
  margin-left: 8px;
  color: #f79924;
  animation: shake 1.5s ease-in-out forwards;
  transform-origin: bottom;
}

@keyframes shake {
  0% {
    transform: rotate(-15deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
