@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Oleo+Script:wght@400;700&display=swap");
/* @import url('https://www.fontshare.com/fonts/clash-grotesk'); */


body {
  margin: 0;
  /* src: local("Clash Grotesk"), url("./assets/fonts/ClashGrotesk-Bold.otf"),
    url("./assets/fonts/ClashGrotesk-Extralight.otf"),
    url("./assets/fonts/ClashGrotesk-Light.otf"),
    url("./assets/fonts/ClashGrotesk-Medium.otf"),
    url("./assets/fonts/ClashGrotesk-Regular.otf"),
    url("./assets/fonts/ClashGrotesk-Semibold.otf") format("otf");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
